{% extends "base.html" %}

{% block content %}
<div class="flex w-full">
    <form action="/products/search" method="post" class="p-4 bg-white shadow-md rounded-md w-full">
        <div class="grid grid-cols-3 sm:grid-cols-4 gap-4 w-full">
            <div class="w-full">
                <label for="catalog_id" class="block text-sm font-medium text-gray-700 mb-1">Select Catalog</label>
                <select name="catalog_id" id="catalog_id" class="block w-full px-3 py-2 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" required>
                    <option value="" disabled selected>Select Catalog</option>
                    {% for catalog in catalogs %}
                        <option value="{{ catalog['_id'] }}">{{ catalog['name'] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="w-full">
                <label for="query" class="block text-sm font-medium text-gray-700 mb-1">Search products</label>
                <input type="text" name="query" id="query" class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" placeholder="Search products.." required />
            </div>
            <div class="w-full">
                <label for="category" class="block text-sm font-medium text-gray-700 mb-1">Category</label>
                <input type="text" name="category" id="category" class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" placeholder="Select category"/>
            </div>
            <div class="w-full">
                <label for="brand" class="block text-sm font-medium text-gray-700 mb-1">Brand</label>
                <input type="text" name="brand" id="brand" class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" placeholder="Select brand"/>
            </div>
            <div class="w-full mt-6">
                <button type="submit" class="w-full bg-indigo-600 text-white py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    Search
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}